@font-face {
	font-family: NotoSansKR;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
	font-family: NotoSansKRSemiBold;
	src: url(../font/NotoSansKR-SemiBold.ttf);
}

.box {
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.btn {
	margin: 10px;
}

.box2 {
	width: 700px;
}

#checkBox {
	border-top-left-radius:;
	border-top-right-radius:;
	border-bottom-right-radius:;
	border-bottom-left-radius:;
}

.btnContainer {
	display: flex;
	justify-content: center;
}

a {
	color: #858796;
}

a:hover {
	text-decoration: underline; /* 마우스를 가져다 댔을 때 밑줄 표시 */
}

.container-fluid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination {
	justify-content: center;
}

.mag0 {
	margin: 0px;
}

.fle, .fle2 {
	display: flex;
}

.labelmargin {
	margin-left: 5px;
	margin-right: 5px;
}

.dddd {
	width: 30%;
}

.smallBtn {
	width: 40px;
	height: 31px;
}

.row {
	justify-content: space-between;
}

.dddddd {
	justify-content: flex-end;
}

body {
	font-family: NotoSansKR;
}

.titleh3 {
	font-weight: 700px;
	color: black;
	margin: 0px;
}

.titleh3>span {
	color: #858796;
	font-weight: 300px;
}

.ratingStar {
	display: flex;
}

.star {
	color: gray;
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
}

.reviewBox {
	width: 700px;
	height: 360px;
	border: 2px solid #dbdbdb;
}

#reviewText {
	height: 63px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.reviewBox textarea:focus {
	border: none;
	outline: none;
}

.regContainer {
	display: flex;
	justify-content: center;
}

#regBtn {
	background-color: #5b975b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 40px;
}

---------------파일

#root {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
}

.title {
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.contents .upload-box {
	width: 100%;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents .upload-box .drag-file {
	position: relative;
	width: 698px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
	width: 40px;
}

.contents .upload-box .drag-file .message {
	margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.contents .upload-box .file-label {
	margin-top: 30px;
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.contents .upload-box .file {
	display: none;
}

@media ( max-width : 700px) {
	.contents {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}
	.contents .upload-box {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
	}
	.contents .upload-box .drag-file {
		height: 150px;
	}
	.contents .files {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
		overflow: initial;
	}
}

.titleInput {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 15px 50px 15px 0;
	border: none;
	border-bottom: 1px solid #eaebef;
	color: #292929;
	font: inherit;
	margin-bottom: 20px;
	ont-weight: bold;
	padding: 15px 60px 15px 0;
	line-height: 31px;
	font-size: 1.75rem;
}

.titleInput:focus {
	outline: none;
}

.essential1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 1px solid #eaebef;
	padding: 25px 30px;
	box-sizing: border-box;
	border-radius: 4px;
}

.essential1Right {
	display: flex;
}

.pencilsIcon {
	width: 26px;
	height: 26px;
	line-height: 26px;
}

.material-symbols-outlined {
	font-size: 26px;
	color: rgb(164, 172, 179);
}

.essentialHead {
	margin-bottom: 30px;
}

.essential1Right>p {
	font-family: NotoSansKRSemiBold;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-top:0px;
	font-size: 15px;
	line-height: 26px;
}

.essential1Right>p>span {
	font-family: NotoSansKRSemiBold;
	color: rgb(164, 172, 179);
	font-size: 15px;
	line-height: 26px;
	border-radius: 4px;
}

.essential2 {
	border: 1px solid #eaebef;
	padding-left: 180px;
	padding-right: 180px;
	display: none;
	border-top: none;
	border-radius: 4px;
}

.essential2>.info {
	display: flex;
	align-items: flex-star;
	padding: 12px 0px;
}

.info>p {
	font-family: NotoSansKRSemiBold;
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 0px;
	width: 30%;
}

.info div select {
	border-radius: 4px;
	border: 1px solid #dbdbdb;
	display: block;
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	padding: 0 15px;
	line-height: 40px;
	background-color: #fff;
	color: #424242;
}

#homeSize {
	border-radius: 4px;
	border: 1px solid #dbdbdb;
	height: 40px;
	width: 30%;
	padding: 0 15px;
	line-height: 40px;
	background-color: #fff;
	color: #424242;
}

.homeSizeDiv {
	display: flex;
}

.homeSizeDiv p {
	line-height: 26px;
	font-family: NotoSansKR;
	margin-left: 3px;
}

#essential2Btn:hover {
	cursor: pointer;
}

.essential1:hover {
	background-color: rgba(247, 248, 250);
	cursor: pointer;
}

#essential2Btn {
	outline: none;
}