@font-face {
	font-family: NotoSansKR;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
	font-family: NotoSansKRSemiBold;
	src: url(../font/NotoSansKR-SemiBold.ttf);
}

.box {@font-face {
	font-family: NotoSansKR;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
	font-family: NotoSansKRSemiBold;
	src: url(../font/NotoSansKR-SemiBold.ttf);
}

.box {
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.btn {
	margin: 10px;
}

.box2 {
	width: 700px;
}

body {
	font-family: NotoSansKR;
}

.titleh3 {
	font-weight: 700px;
	margin-bottom: 15px;
	color: black;
}

.titleh3>span {
	color: #858796;
	font-weight: 300px;
}

.star {
	color: gray;
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
}

.regContainer {
	display: flex;
	justify-content: center;
}

#regBtn {
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 100px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.star:hover, .star.hovered {
	color: #f7f77e;
}

.star.clicked {
	color: #f7f77e;
}

.titleInput {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 15px 50px 15px 0;
	border: none;
	border-bottom: 1px solid #eaebef;
	color: #292929;
	font: inherit;
	margin-bottom: 20px;
	ont-weight: bold;
	padding: 15px 60px 15px 0;
	line-height: 31px;
	font-size: 1.70rem;
}

.titleInput:focus {
	outline: none;
}
/* ----파일 */
#root {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
}

.title {
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.contents .upload-box {
	width: 100%;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents .upload-box .drag-file {
	position: relative;
	width: 698px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
	width: 40px;
}

.contents .upload-box .drag-file .message {
	margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.contents .upload-box .file-label {
	margin-top: 30px;
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.file-label {
	margin-bottom: 40px;
}

.contents .upload-box .file {
	display: none;
}

@media ( max-width : 700px) {
	.contents {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}
	.contents .upload-box {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
	}
	.contents .upload-box .drag-file {
		height: 150px;
	}
	.contents .files {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
		overflow: initial;
	}
}

.portfolioInfo {
	width: 100%;
	display: flex;
	border: 1px solid #eaebef;
	padding: 28px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 40px;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.portfolioInfo p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.span1 {
	color: rgb(197, 197, 197);
	font-size: 14px;
	line-height: 30px;
}

.span2 {
	margin-left: 5px;
	font-size: 14px;
	line-height: 30px;
}

height
:
 
100
%;

	
padding
:
 
10px
;

	
display
:
 
flex
;

	
justify-content
:
 
center
;

	
align-content
:
 
center
;


}
.btn {
	margin: 10px;
}

.box2 {
	width: 700px;
}

body {
	font-family: NotoSansKR;
}

.titleh3 {
	font-weight: 700px;
	margin-bottom: 15px;
	color: black;
}

.titleh3>span {
	color: #858796;
	font-weight: 300px;
}

.star {
	color: gray;
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
}

.regContainer {
	display: flex;
	justify-content: center;
}

#regBtn {
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 100px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.star:hover, .star.hovered {
	color: #f7f77e;
}

.star.clicked {
	color: #f7f77e;
}

.titleInput {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 15px 50px 15px 0;
	border: none;
	border-bottom: 1px solid #eaebef;
	color: #292929;
	font: inherit;
	margin-bottom: 20px;
	ont-weight: bold;
	padding: 15px 60px 15px 0;
	line-height: 31px;
	font-size: 1.70rem;
}

.titleInput:focus {
	outline: none;
}
/* ----파일 */
#root {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
}

.title {
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.contents .upload-box {
	width: 100%;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents .upload-box .drag-file {
	position: relative;
	width: 698px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.contents .upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
	width: 40px;
}

.contents .upload-box .drag-file .message {
	margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.contents .upload-box .file-label {
	margin-top: 30px;
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.file-label {
	margin-bottom: 40px;
}

.contents .upload-box .file {
	display: none;
}

@media ( max-width : 700px) {
	.contents {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}
	.contents .upload-box {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
	}
	.contents .upload-box .drag-file {
		height: 150px;
	}
	.contents .files {
		width: 100%;
		box-sizing: border-box;
		margin-right: 0;
		overflow: initial;
	}
}

.marTop {
	margin-top: 30px;
}
h4{ font-size:16px; font-weight: bold;
margin-bottom: 21.28px!important;}

.col {
	margin-left: 0px !important;
}