@charset "UTF-8";

.slider_wrap {
	width: 970px;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0 100px;
	position: relative;
}

.slider_img { /* 이미지가 보이는 영역 */
	position: relative;
	width: 970px;
	height: 280px;
	overflow: hidden;
	height: 280px;
}

.slider_inner { /* 이미지 움직이는 영역 */
	display: flex;
	flex-wrap: wrap;
	width: 3880px; /* 총 이미지가 4800px */
	height: 280px;
}

.slider { /* 개별적인 이미지 */
	position: relative;
	width: 970px;
	height: 280px;
}

.slider_btn a {
	position: absolute;
	transform: translateY(-50%);
	height: 50px;
	transition: all 0.3s ease;
}

.slider_btn a:hover {
	border-radius: 50%;
	background-color: rgba(241, 96, 86, 1);
	color: #fff;
}

.slider_btn a.prev {
	left: 0;
}

.next {
	left: 93%;
}

.prev {
	margin-left: 20px;
}
