<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.ChatDAO">
	<insert id="submit">
		insert into chat
		values(NULL,#{fromID},#{toID},#{chatContent},NOW(),0,null,null,null);
	</insert>
	<select id="selectAll" resultType="com.myweb.www.domain.ChatDTO">
		select * from chat where toID is null limit 300;
	</select>
	<select id="selectEmpId" resultType="com.myweb.www.security.MemberVO">
		select * from member where id = #{toID};
	</select>
<!-- 	<select id="selectEmp2" resultType="com.myweb.www.security.MemberVO"> -->
<!-- 		select * from chat where toID = #{toID} and fromID = #{fromID}; -->
<!-- 	</select> -->
	<insert id="submitEmp2">
		insert into chat (chatID,fromID, toID, chatContent, chatTime, chatRead, fromNm, toNm, emp_no)
					values(NULL,#{fromID},#{toID},#{chatContent},NOW(),0,null,null,null);
	</insert>
	
	<select id="selectEmpId2" resultType="com.myweb.www.domain.ChatDTO">
<!-- 		select * from chat where toID = #{fromID} and fromID = #{toID} -->
<!-- 		union -->
<!-- 		select * from chat where fromID = #{fromID} and toID = #{toID} -->
<!-- 		order by chatID -->
<!-- 		limit 300; -->
		
<!-- 		select * from chat  -->
<!-- 		where 1=1  -->
<!-- 		AND (toID = #{fromID} and fromID = #{toID})  -->
<!-- 		OR (fromID = #{fromID} and toID = #{toID}) -->
<!-- 		order by chatID -->
<!-- 		limit 100; -->
		
		SELECT * FROM (
			  SELECT * FROM chat 
			  WHERE 1=1 
			    AND (toID = #{fromID} AND fromID = #{toID}) 
			    OR (fromID = #{fromID} AND toID = #{toID})
			  ORDER BY chatID DESC
			  LIMIT 100
			  ) AS subqy
		ORDER BY chatID ASC;
	</select>
	
	<select id="selectFile1" resultType="com.myweb.www.domain.FileVO">
		select * from file
		where 1=1 
		AND id = #{toID} 
		limit 1;
	</select>
	
	
	<update id="readChat">
		UPDATE chat SET chatRead = 1 WHERE (fromID = #{toID} AND toId= #{fromID}) AND chatRead = 0;
	</update>
	
	<select id="getAllUnreadChat" resultType="int">
		SELECT COUNT(chatID) FROM chat WHERE toID = #{toID} AND chatRead = 0;
	</select>
	<select id="getAllUnreadChatID" resultType="int">
		SELECT COUNT(chatID) FROM chat WHERE toID = #{chatid} AND chatRead = 0;
	</select>
	
	
	
	
	
	<select id = "getBox" resultType="com.myweb.www.domain.ChatDTO">
<!-- 		select * from chat where chatID IN (SELECT MAX(chatID) FROM chat where toID = #{toID}  OR fromID= #{toID}  -->
<!-- 		group by fromID, toID) order by chatID DESC -->
	
<!-- 		SELECT * FROM chat WHERE chatID IN ( -->
<!-- 	    SELECT MAX(chatID) FROM ( -->
<!-- 	        SELECT chatID, LEAST(fromID, toID) AS user1, GREATEST(fromID, toID) AS user2 -->
<!-- 	        FROM chat -->
<!-- 	    ) AS subquery -->
<!-- 	    GROUP BY user1, user2 -->
<!-- 		) ORDER BY chatID DESC; -->

			SELECT * FROM chat WHERE chatID IN (
			    SELECT MAX(chatID) FROM (
			        SELECT chatID, CASE 
			                        WHEN fromID = #{toID} THEN toID 
			                        ELSE fromID 
			                       END AS otherUserID
			        FROM chat
			        WHERE fromID = #{toID} OR toID = #{toID}
			    ) AS subquery
			    GROUP BY otherUserID
			) ORDER BY chatID DESC;
	
	</select>
	
		<select id = "getBox2" resultType="com.myweb.www.domain.ChatDTO">
			SELECT * FROM chat WHERE chatID IN (
			    SELECT MAX(chatID) FROM (
			        SELECT chatID, CASE 
			                        WHEN fromID = #{toID} THEN toID 
			                        ELSE fromID 
			                       END AS otherUserID
			        FROM chat
			        WHERE fromID = #{toID} OR toID = #{toID}
			    ) AS subquery
			    GROUP BY otherUserID
			) ORDER BY chatID DESC;
	</select>
	
	
	<select id = "getUnreadChat2" resultType="com.myweb.www.domain.ChatDTO2">
			SELECT fromID, COUNT(*) AS count
			FROM chat
			WHERE toID = #{toID} AND chatRead = 0
			GROUP BY fromID;
	</select>
	
	
	<select id= "selectAllMemberforChat" resultType="com.myweb.www.security.MemberVO">
		SELECT * FROM member;
	</select>
	
	
</mapper>