<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.ReqFileDAO">
  	<insert id="insertFile">
  		insert into req_file(uuid, save_dir, file_name, file_type, file_size,request_id,request_nm)
  		values(#{uuid},#{saveDir},#{fileName},#{fileType},#{fileSize},#{requestId},#{requestNm})
  	</insert>
  	
  	<select id="req_file" parameterType="long" resultType="com.myweb.www.domain.ReqFileVO">
  	  select * from req_file where request_nm = #{requestNm} order by reg_at DESC limit 1
  	</select>
  	
</mapper>